<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nldoko.game"
    android:versionCode="5"
    android:versionName="2.3" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/karten"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="nldoko.game.start.StartActivity"
            android:label="@string/app_name"  android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="nldoko.game.information.AboutActivity"  android:label="@string/app_name"  android:screenOrientation="portrait"/>
        <activity android:name="nldoko.game.game.NewGameActivity" android:label="@string/app_name"  android:screenOrientation="portrait"/>
        <activity android:name="nldoko.game.game.GameActivity"  android:label="@string/app_name" />
        <activity android:name="nldoko.game.game.ChangeGameSettingActivity"  android:label="@string/app_name" />
        <activity android:name="nldoko.game.game.EditRoundActivity"  android:label="@string/app_name" />
        <activity android:name="nldoko.game.game.SavedGameListActivity"  android:label="@string/app_name" />
    </application>

</manifest>